<nav class="navbar navbar-expand-lg navbar-canis">
    <div class="container-fluid px-4">

        {# Logo + Marque #}
        <a class="navbar-brand d-flex align-items-center gap-2" href="{{ path('app_main') }}">
            <img src="{{ asset('img/logo.png') }}" width="46" height="46" alt="CanisPro logo" class="navbar-logo-img">
            <span class="navbar-brand-text">CanisPro</span>
        </a>

        {# Toggler mobile #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Menu principal #}
        <div class="collapse navbar-collapse" id="mainNav">

            {# Liens gauche #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_main') }}">
                        <i class="fa-solid fa-house me-1"></i> Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cours_index') }}">
                        <i class="fa-solid fa-graduation-cap me-1"></i> Nos cours
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">
                        <i class="fa-solid fa-circle-info me-1"></i> À propos
                    </a>
                </li>
            </ul>

            {# Boutons droite #}
           
            <div class="d-flex align-items-center gap-2">
                {% if app.user %}
                    {# 1. Lien Admin : visible uniquement si l'utilisateur a le rôle ROLE_ADMIN #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-nav-admin">
                            <i class="fa-solid fa-shield me-1"></i> Admin
                        </a>
                    {% endif %}

                    {# 2. Lien Espace Membre : visible pour les utilisateurs connectés #}
                    <a href="{{ path('app_membre_dashboard') }}" class="btn btn-nav-membre">
                        <i class="fa-solid fa-paw me-1"></i> Mon espace
                    </a>

                    {# 3. Bouton Déconnexion #}
                    <a href="{{ path('app_logout') }}" class="btn btn-nav-login">
                        <i class="fa-solid fa-right-from-bracket me-1"></i> Déconnexion
                    </a>
                {% else %}
                    {# 4. Si non connecté : Bouton Connexion #}
                    <a href="{{ path('app_login') }}" class="btn btn-nav-login">
                        <i class="fa-solid fa-right-to-bracket me-1"></i> Connexion
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
</nav>
